[submodule "modules/PX4Firmware"]
	path = modules/PX4Firmware
	url = git@192.168.10.241:xiazibin/ABPoint_PX4Firmware.git
[submodule "modules/PX4NuttX"]
	path = modules/PX4NuttX
	url = git@192.168.10.241:xiazibin/PX4NuttX.git
[submodule "modules/uavcan"]
	path = modules/uavcan
	url = git@192.168.10.241:baiyang/libuavcan.git
[submodule "modules/waf"]
	path = modules/waf
	url = git://github.com/ArduPilot/waf.git
[submodule "modules/gbenchmark"]
	path = modules/gbenchmark
	url = git://github.com/google/benchmark.git
[submodule "modules/mavlink"]
	path = modules/mavlink
	url = http://192.168.10.241/xiazibin/ABPoint_mavlink.git
[submodule "gtest"]
	path = modules/gtest
	url = git://github.com/ArduPilot/googletest
